<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xose.cqms.event" >

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- For Pushy -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BootstrapApplicationImpl"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Material.Dark" >
        <activity
            android:name=".ui.SpashscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".authenticator.AccountAuthenticatorService"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>


        <!-- Hospital configuration sync -->
        <service
            android:name=".sync.conf.ConfSyncService"
            android:exported="false"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/conf_syncadapter" />
        </service>

        <provider
            android:name=".sync.conf.ConfSyncContentProvider"
            android:authorities="com.xose.cqms.event.sync.hh.confsyncsontentprovider"
            android:exported="false"
            android:syncable="true" />

        <!-- Incident report sync -->
        <service
            android:name=".sync.incident.IncidentReportSyncService"
            android:exported="false"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/incident_sync_adapter" />
        </service>

        <provider
            android:name=".sync.incident.IncidentReportSyncContentProvider"
            android:authorities="com.xose.cqms.event.sync.incident.incidentreportsynccontentprovider"
            android:exported="false"
            android:syncable="true" />

        <!-- Medication Error Report  sync -->
        <service
            android:name=".sync.medicationerror.MedicationErrorSyncService"
            android:exported="false"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/medicationerror_sync_adapter" />
        </service>

        <provider
            android:name=".sync.medicationerror.MedicationErrorSyncContentProvider"
            android:authorities="com.xose.cqms.event.sync.incident.medicationerrorsynccontentprovider"
            android:exported="false"
            android:syncable="true" />


        <!-- Adverse Drug reaction sync -->
        <service
            android:name=".sync.drugreaction.DrugReactionSyncService"
            android:exported="false"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/drugreaction_sync_adapter" />
        </service>

        <provider
            android:name=".sync.drugreaction.DrugReactionSyncContentProvider"
            android:authorities="com.xose.cqms.event.sync.drugreaction.drugreactionsynccontentprovider"
            android:exported="false"
            android:syncable="true" />

        <!-- Activities -->
        <activity
            android:name=".authenticator.BootstrapAuthenticatorActivity"
            android:excludeFromRecents="true" >

            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>

        <!--
        Replace with your Fabric Crashlytics key from Fabric.io
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricCrashlyticsApiKey}" />
        -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0ae78a60f2f64558bdcb3503f5043fc350934006" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <activity
            android:name=".ui.ImportConfigActivity"
            android:label="@string/title_activity_import_config"
            android:parentActivityName=".ui.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SettingsActivity" />
        </activity>


        <!-- Pushy Declarations -->


        <!-- Pushy Notification Receiver -->
        <!-- Incoming push notifications will invoke the following BroadcastReceiver -->
        <receiver
            android:name=".core.pushy.PushReceiver"
            android:exported="false" >
            <intent-filter>

                <!-- Do not modify this -->
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver>

        <!-- Pushy Update Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver
            android:name="me.pushy.sdk.receivers.PushyUpdateReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Pushy Boot Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver
            android:name="me.pushy.sdk.receivers.PushyBootReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Pushy Socket Service -->
        <!-- Do not modify - internal socket service -->
        <service android:name="me.pushy.sdk.services.PushySocketService" />

        <!-- End Pushy Declarations -->

        <activity
            android:name=".ui.incident.IncidentReportListActivity"
            android:label="@string/title_activity_incident_report_list"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xose.cqms.event.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.incident.IncidentReportActivity"
            android:label="@string/title_activity_incident_report"
            android:parentActivityName=".ui.incident.IncidentReportListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xose.cqms.event.ui.incident.IncidentReportListActivity" />
        </activity>

        <activity
            android:name=".ui.medicationerror.MedicationErrorListActivity"
            android:label="@string/title_activity_medication_error_list"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xose.cqms.event.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.medicationerror.MedicationErrorActivity"
            android:label="@string/title_activity_medication_error"
            android:parentActivityName=".ui.medicationerror.MedicationErrorListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xose.cqms.event.ui.medicationerror.MedicationErrorListActivity" />
        </activity>

        <activity
            android:name=".ui.drugreaction.DrugReactionListActivity"
            android:label="@string/title_activity_drug_reaction_list"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xose.cqms.event.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.drugreaction.DrugReactionActivity"
            android:label="@string/title_activity_drug_reaction"
            android:parentActivityName=".ui.drugreaction.DrugReactionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xose.cqms.event.ui.drugreaction.DrugReactionListActivity" />
        </activity>

    </application>

</manifest>
